# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Build LESS files'
      'command': 'less-build:build'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'less-build'
      'submenu': [
        {
          'label': 'Build LESS files'
          'command': 'less-build:build'
        }
      ]
    ]
  }
]
